.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    font-size: 45px;
  }
  
  .about-section {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .about-image1 img {
    max-width: 300px;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .about-image2 img {
    max-width: 300px;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .about-content {
    flex: 1;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    line-height: 1.5;
  }
  